@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Web Cliente </h1>
<ul id="sortable" class="list-group">
    <li class="list-group-item m-3">
        <h2 class="text-left">Seccion de Tabla</h2>

        <div class="table-responsive">
            <table id="one" class="table table-bordered" width="100%">
                <thead class="test">
                    <tr>
                        <th class="text-center" data-header="simbolo">Simbolo</th>
                        <th class="text-center" data-header="ultimoHecho">Ultimo Hecho</th>
                        <th class="text-center" data-header="valorAnterior">Valor Anterior </th>
                        <th class="text-center" data-header="variacionUnitaria">Variacion Unitaria </th>
                        <th class="text-center" data-header="variacionPorcentual">Variacion Porcetual</th>
                        <th class="text-center" data-header="precioCompra">Precio Compra</th>
                        <th class="text-center" data-header="precioCompraAnterior">Variacion Unitaria de Compra</th>
                        <th class="text-center" data-header="precioVenta">Precio de Venta</th>
                        <th class="text-center" data-header="variacionUnitariaVenta">Variacion Unitaria de Venta</th>
                    </tr>
                </thead>
            </table>
        </div>
    </li>
    <li class="list-group-item m-3 text-center">
        <h2 class="text-left">Seccion de Grafica</h2>
        <img src="https://i-invdn-com.akamaized.net/charts/small/live-forex-chart-new.png" class="img-fluid text-xl-center mt-2" alt="Responsive image" width="50%">
    </li>
</ul>


